# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Build artifacts
*.zip
*.tar.gz

# Environment
.env
.env.local